.header{
  margin-bottom: 60px;
}


.jumbotron{
  background:url(header.jpg) center no-repeat;
  background-size: cover;
  padding-top: 0;
  height: 500px;
}


.headertitle{
  text-align: center;
  color: aliceblue;
}