.profile-title {
  font-size: 64pt;
  color: #333333;
  text-align: center;
}

.profile-underline {
  border-bottom: solid 3px lightblue;
}

.profile-table {
  font-size: 16pt;
  text-align: center;
  color : #333333;
}

.profile-link{
  color : #333333;
}
.profile-link:hover{
  color : #333333;
}
.profile-link :visited  {
  color : #333333;
}

.img {
  width: 200px;
  height: 200px;
}