.footer {
  background-color: #222222;
  bottom: 0;
  width: 100%;
  height: 250px;
  margin: 0 50px 0 0 ;
  text-align: center;
  color: #fefefe;
}

.footer-head-line {
  text-align: center;
  color: #fefefe;
  font-size: 36pt;
}

.icon{
  color: #fefefe;
}

.icon:hover {
  color : #696868;
}

.icon:visited{
  color : #fefefe;
}